* {
    margin: 0px;
    padding: 0px;
}

.container {
    border: 1px solid greenyellow;
    background-color: aquamarine;
}

.sidebar {
    outline: 1px solid black;
    background-color: #1992d4;
}

.header {
    outline: 1px solid black;
    background-color: #fff;
}

.main {
    outline: 1px solid black;
    background-color: #e2e8f0;
}

.your-projects-inner {
    outline: 1px dotted black;
}

.project {
    outline: 1px solid black;
    background-color: #fff;
}

.announcements-inner {
    outline: 1px solid black;
    background-color: #fff;
}

.trending-inner {
    outline: 1px solid black;
    background-color: #fff;
}